@import url('https://fonts.googleapis.com/css2?family=Bitcount+Prop+Single:wght@100..900&display=swap');

.post-font {
  font-family: "Bitcount Prop Single", system-ui;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-variation-settings:
    "slnt" 0,
    "CRSV" 0.5,
    "ELSH" 0,
    "ELXP" 0;
}

.post-main-container{
    height: 100%;
    width: 100%;
    background-color: black;
    color: white;
    display: flex;
    overflow: hidden;

    font-family: "Bitcount Prop Single", system-ui;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0,
        "CRSV" 0.5,
        "ELSH" 0,
        "ELXP" 0;
}

.posting-info-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow-y: scroll;
    flex: 1;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.white-flash{
    background-color: white;
}

.post-footer{
    font-size: 26px;
}
.post-header{
    font-size: 36px;
}

.post-header img{
    max-width: 33rem;
}