.desktop{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    background-image: url('../wallpapers/default-wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resizing-global * {
    cursor: inherit !important;
    pointer-events: none !important;
    user-select: none !important;
}

.window-spawn-enter-from {
  opacity: 0;
  transform: scale(0.9) translateY(20px);
}

.window-spawn-enter-active {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1);
}

.window-spawn-enter-to {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.window-spawn-leave-active {
  transition: all 0.2s ease-in;
}

.window-spawn-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

/* --- 2. ANIMACIÓN DE MINIMIZAR (Hacia abajo) --- */

.window-minimize-enter-from, .window-minimize-leave-to {
  opacity: 0;
  transform: translateY(100%) scale(0.3);
  filter: blur(5px);
}
.window-minimize-enter-active, .window-minimize-leave-active {
  transition: all 0.4s cubic-bezier(0.4, 0, 0.2, 1);
}

/* --- ANIMACIÓN DE MINIMIZAR (Hacia el fondo/centro) --- */

/*.window-minimize-leave-to {
  opacity: 0;
  transform: translateY(100vh) scale(0.1);
  filter: blur(20px);
}

.window-minimize-leave-active {
  transition: all 0.3s cubic-bezier(0.7, 0, 0.84, 0);
  transform-origin: bottom center;
}

.window-minimize-enter-from {
  opacity: 0;
  transform: translateY(100vh) scale(0.1);
}

.window-minimize-enter-active {
  transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1);
  transform-origin: bottom center;
}*/