.desktop{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;
    
    background-image: url('../wallpapers/default-wallpaper.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

/* Estado inicial (antes de entrar) */
.window-spawn-enter-from {
  opacity: 0;
  transform: scale(0.9) translateY(20px);
}

/* Durante la animación (el tiempo que dura) */
.window-spawn-enter-active {
  transition: all 0.3s cubic-bezier(0.34, 1.56, 0.64, 1); /* Efecto rebote suave */
}

/* Estado final (cuando ya entró) */
.window-spawn-enter-to {
  opacity: 1;
  transform: scale(1) translateY(0);
}

/* También puedes animar la salida (cuando se cierra) */
.window-spawn-leave-active {
  transition: all 0.2s ease-in;
}

.window-spawn-leave-to {
  opacity: 0;
  transform: scale(0.95);
}