.display{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    overflow: hidden;
    position: relative;
    background-color: black;
    /*cursor: url("../cursors/cursor2.png"), auto;*/
}

iframe{
    border: 0;
}