.start-menu{
  position: fixed;
  bottom: 60px;
  left: 11px;
  background-color: #3737378c;
  border-radius: 10px;
  backdrop-filter: blur(11px);
  box-shadow: 0px 8px 10px 2px #00000070;
  z-index: 999999999;
}

/* Nombre de la transición: start-menu-fade */

/* Estado inicial (Oculto) */
.start-menu-fade-enter-from,
.start-menu-fade-leave-to {
    opacity: 0;
    transform: translateY(20px); /* Empieza 20px más abajo */
}

/* Estado activo (Durante la animación) */
.start-menu-fade-enter-active {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1); /* Curva suave y rápida */
}

.start-menu-fade-leave-active {
    transition: all 0.2s ease-in; /* Al cerrarse es un poco más directo */
}

/* Estado final (Visible) */
.start-menu-fade-enter-to,
.start-menu-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}