.start-menu{
  position: fixed;
  bottom: 60px;
  left: 11px;
  background-color: #00000066;
  border-radius: 10px;
  backdrop-filter: blur(38px);
  /*box-shadow: 0px 0px 13px 0px #00000070;*/
  z-index: 999999999;
  display: flex;
  flex-direction: column;
  padding: 10px;
  color: #d7d7d7;
}

.start-menu *{
  color: #d7d7d7;
}

@media screen and (max-width: 1000px){
    .start-menu{
        bottom: calc(6% - -44px);
    }
}

.start-menu-container{
    height: 44px;
    display: flex; 
    align-items: center;
}

.start-menu .divider{
    width: 100%;
    height: 1px;
    background-color: #ffffff2b;
}

.start-menu-button{
    border: none;
    background-color: transparent;
    cursor: pointer;
}

.user-picture{
    position: absolute;
    border-color: #ffffff;
    width: 5rem;
    height: 5rem;
    border-radius: 50%;
    top: -23px;
    left: 31px;
    border-style: solid;
    border-width: 2px;
}

.start-menu-main{
    display: flex;
    flex-direction: row;

}

.start-menu-main > div{
    flex: 1;
}

.start-menu-header{
    height: 4rem;
}

/* Nombre de la transición: start-menu-fade */

/* Estado inicial (Oculto) */
.start-menu-fade-enter-from,
.start-menu-fade-leave-to {
    opacity: 0;
    transform: translateY(20px); /* Empieza 20px más abajo */
}

/* Estado activo (Durante la animación) */
.start-menu-fade-enter-active {
    transition: all 0.3s cubic-bezier(0.16, 1, 0.3, 1); /* Curva suave y rápida */
}

.start-menu-fade-leave-active {
    transition: all 0.2s ease-in; /* Al cerrarse es un poco más directo */
}

/* Estado final (Visible) */
.start-menu-fade-enter-to,
.start-menu-fade-leave-from {
    opacity: 1;
    transform: translateY(0);
}