.taskbar{
    height: 30px;
    background-color: #00000066;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(6px);
    /*opacity: 76%;*/
    padding: 9px 0px;
    z-index: 9999999999;
}

.taskbar-btn:hover{
    backdrop-filter: contrast(0.8);
    box-shadow: 0px 0px 4px 2px #ffffff42;
}

.taskbar-btn{
    border-radius: 6px;
}

.taskbar-elements{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    height: 100%;
    padding: 0 8px;
}

.start-container i{
    color: rgb(212, 212, 212);
    font-size: 23px;
}

.apps-container{
    display: flex;
    flex-direction: row;
}

.info-container{
    color: white;
    display: flex;
    flex-direction: column;
    padding: 0 8px;
}

.taskbar .app-icon{
    color: white;
    font-size: 25px;
    padding: 5px 10px;
    margin: 0px 4px;
}

.taskbar .app-icon:hover{
    color: rgb(212, 212, 212);

    cursor: pointer;
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 0 15px #646cff50;
    transition: all 0.3s ease;
}

/*.taskbar .app-icon:hover::before {
    top: 100%;
    left: 100%;
}*/

.running-app{
    backdrop-filter: contrast(0.8);
    box-shadow: 0px 0px 4px 2px #ffffff42;
}

/*@property --angle {
        syntax: "<angle>";
        inherits: false;
        initial-value: 0deg;
    }

.orb {

  --bg: oklch(12.9% 0.042 264.695);
  --c1: oklch(44.4% 0.177 26.899);
  --c2: oklch(85.2% 0.199 91.936);
  --c3: oklch(58.8% 0.158 241.966);

  display: grid;
  grid-template-areas: "stack";
  inline-size: min(80vmin, 100%);
  aspect-ratio: 1;
  overflow: hidden;
  border-radius: 50%;

  &::before,
  &::after {
    content: "";
    display: block;
    grid-area: stack;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    transform: translateZ(0);
  }

  &::before {
    background: conic-gradient(
        from calc(var(--angle) * 2) at 25% 70%,
        var(--c3),
        transparent 20% 80%,
        var(--c3)
      ),
      conic-gradient(
        from calc(var(--angle) * 2) at 45% 75%,
        var(--c2),
        transparent 30% 60%,
        var(--c2)
      ),
      conic-gradient(
        from calc(var(--angle) * -3) at 80% 20%,
        var(--c1),
        transparent 40% 60%,
        var(--c1)
      ),
      conic-gradient(
        from calc(var(--angle) * 2) at 15% 5%,
        var(--c2),
        transparent 10% 90%,
        var(--c2)
      ),
      conic-gradient(
        from calc(var(--angle) * 1) at 20% 80%,
        var(--c1),
        transparent 10% 90%,
        var(--c1)
      ),
      conic-gradient(
        from calc(var(--angle) * -2) at 85% 10%,
        var(--c3),
        transparent 20% 80%,
        var(--c3)
      );
    box-shadow: inset var(--bg) 0 0 5vmin 1vmin;
    filter: blur(3vmin) contrast(5);
    animation: rotate 20s linear infinite;
  }

  &::after {
    --dot: 1.5px;
    background-image: radial-gradient(
      circle at center,
      var(--bg) var(--dot),
      transparent var(--dot)
    );
    background-size: calc(var(--dot) * 2) calc(var(--dot) * 2);
    mask-image: radial-gradient(black 25%, transparent 75%);
    backdrop-filter: blur(8vmin) contrast(10);
    mix-blend-mode: overlay;
  }
}

@keyframes rotate {
  to {
    --angle: 360deg;
  }
}*/

.orb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2931439e;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    animation: text 19s ease infinite;
    height: 100%;
    width: 3rem;
}

.orb:after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  right: 0;
  z-index: -1;
  height: 100%;
  transform: scale(1.2);
  filter: blur(6px);
  background: linear-gradient(270deg, #03acf5, #c54040);
  background-size: 150% 150%;
  border-radius: 15%;
  animation: glowmation 10s linear infinite;
}

@keyframes glowmation {
  0% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
  12.5% {
    top: -3%;
    left: 0;
    background-size: 70% 30%;
  }
  25% {
    top: -3%;
    left: 3%;
    background-size: 100% 50%;
  }
  37.5% {
    top: 0;
    left: 3%;
    background-size: 70% 30%;
  }
  50% {
    top: 3%;
    left: 3%;
    background-position: 100% 50%;
    background-size: 30% 30%;
  }
  62.5% {
    top: 3%;
    left: 0;
    background-size: 30% 70%;
  }
  75% {
    top: 3%;
    left: -3%;
    background-size: 50% 100%;
  }
  87.5% {
    top: 0;
    left: -3%;
    background-size: 30% 70%;
  }
  100% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
}

@keyframes text {
  0% {
    color: #7400f9;
  }
  50% {
    color: #00fcbd;
  }
  100% {
    color: #7400f9;
  }
}