.window-frame{
    background-color: #464646a3;
    border-radius: 10px;
    backdrop-filter: blur(56px);
    box-shadow: 0px 5px 5px 0px #0000006b;
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;

    transition:
        width 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        height 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        top 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        left 0.1s cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 0.1s ease;
    will-change: width, height, top, left;

    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}

iframe{
    border: 0;
}

.no-transitions{
    transition: none !important;
}

.resizing * {
    cursor: inherit !important;
    pointer-events: none !important;
    user-select: none !important;
}

.window-frame.dragging{
    transition: none !important;
    user-select: none;
}

.window-header{
    background-color: #393939;
    display: flex;
    justify-content: space-between;
    padding: 4px 3px 4px 12px;
    color: white;
    border-radius: 10px 10px 0px 0px;
}

.window-header i {
    display: flex;
}

.window-header-btns{
    display: flex;
    align-items: center;
    flex-direction: row;
}

.window-header-btns button{
    margin: 0px 6px;
}

.minimize-btn{
    cursor: pointer;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.maximize-btn{
    cursor: pointer;
    color: white;
    border: none;
    background-color: rgba(0, 0, 0, 0);
}

.close-btn{
    cursor: pointer;
    background-color: rgb(230, 100, 100);
    color: white;
    border: none;
    border-radius: 50%;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 17px;
    height: 17px;
}

.close-btn i{
    font-size: 9px;
}

.close-btn:hover{
    background-color: rgb(255, 0, 0);
}

.minimize-btn:hover{
    background-color: #c0c0c0;
}

.window-header-titles{
    display: flex;
    align-items: center;
}

.window-header-titles i{
    margin-right: 5px;
}

.focused{
    box-shadow: 0px 8px 10px 2px #00000070;
}

.maximized .window-header{
    border-radius: 0;
}

.maximized.window-frame, .maximized.focused{
    box-shadow:  0 0 0 0 !important
}

.maximized.window-frame{
    border-radius: 0 !important;
}

.resizer {
    position: absolute;
    z-index: 100;
    /*background: rgba(255, 0, 0, 0.2);*/
}

.resizer.n { top: -4px; left: 4px; right: 4px; height: 8px; cursor: n-resize; }
.resizer.s { bottom: -4px; left: 4px; right: 4px; height: 8px; cursor: s-resize; }
.resizer.e { right: -4px; top: 4px; bottom: 4px; width: 8px; cursor: e-resize; }
.resizer.w { left: -4px; top: 4px; bottom: 4px; width: 8px; cursor: w-resize; }

.resizer.nw { top: -4px; left: -4px; width: 12px; height: 12px; cursor: nw-resize; z-index: 101; }
.resizer.ne { top: -4px; right: -4px; width: 12px; height: 12px; cursor: ne-resize; z-index: 101; }
.resizer.sw { bottom: -4px; left: -4px; width: 12px; height: 12px; cursor: sw-resize; z-index: 101; }
.resizer.se { bottom: -4px; right: -4px; width: 12px; height: 12px; cursor: se-resize; z-index: 101; }

.window-content {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/*.content-container{
    width: 100%;
    height: 100%;
    border: none;
}*/

/*.content-container *:first-child{
    border-radius: 0px 0px 10px 10px;
}*/

.cursor-shield {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999;
  background: transparent;
}