.taskbar{
    height: 41px;
    background-color: #00000066;
    position: absolute;
    width: 100%;
    backdrop-filter: blur(6px);
    padding: 0.2% 0px;
    z-index: 9999999999;
}

@media screen and (max-width: 1000px){
    .taskbar{
      height: 6%;
      padding: 1.5% 0 !important;
    }

    .start-container, .apps-container, .taskbar-btn{
      height: 100% !important;
    }

    .apps-container{
      justify-content: flex-start !important;
      overflow-x: auto;
      overflow-y: hidden;
    }

    .start-container{
      aspect-ratio: 1/1;
    }
}

.taskbar-btn:hover{
    backdrop-filter: contrast(0.8);
    box-shadow: 0px 0px 4px 2px #ffffff42;
}

.taskbar-btn{
    border-radius: 15%;
}

.taskbar-elements{
    display: flex;
    flex-direction: row;
    align-items: center;

    height: 100%;
    padding: 0 8px;
}

.start-container{
  height: 100%;
  aspect-ratio: 1/1;
}

.start-container i{
    color: rgb(212, 212, 212);
    font-size: 23px;
}

.app{
  aspect-ratio: 1/1;
  margin: 0px 4px;
}

.apps-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex: 1;
    height: 100%;
    margin: 0px 29px;
}

.info-container{
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 8px;
}

.taskbar .app-icon{
    color: white;
    display: flex;
    justify-content: center;
    align-items: center
}

.taskbar .app-icon:hover{
    color: rgb(212, 212, 212);

    cursor: pointer;
    transform: scale(1.05) rotate(2deg);
    box-shadow: 0 0 15px #646cff50;
    transition: all 0.3s ease;
}

.app-icon img{
  max-width: 100%;
  max-height: 100%;
  object-fit: contain;
  display: block;
}

.app-icon svg{
  margin: 22%;
  max-height: 100%;
}

.running-app{
    backdrop-filter: contrast(0.8);
    box-shadow: 0px 0px 4px 2px #ffffff42;
}

.orb {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #2931439e;
    border-radius: 15%;
    font-weight: bold;
    line-height: 1.5;
    text-align: center;
    /*animation: text 19s ease infinite;*/
    height: 100%;
    width: 100%;
}

.orb svg{
  margin: 22%;
  color: rgba(255, 255, 255, 0.534);
  max-height: 100%;
  width: 100%;
}

/*.orb:after {
  position: absolute;
  content: "";
  top: -5%;
  left: -5%;
  right: 0;
  z-index: -1;
  height: 100%;
  transform: scale(1.2);
  filter: blur(6px);
  background: linear-gradient(270deg, #03acf5, #c54040);
  background-size: 150% 150%;
  border-radius: 15%;
  animation: glowmation 10s linear infinite;
}*/

@keyframes glowmation {
  0% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
  12.5% {
    top: -3%;
    left: 0;
    background-size: 70% 30%;
  }
  25% {
    top: -3%;
    left: 3%;
    background-size: 100% 50%;
  }
  37.5% {
    top: 0;
    left: 3%;
    background-size: 70% 30%;
  }
  50% {
    top: 3%;
    left: 3%;
    background-position: 100% 50%;
    background-size: 30% 30%;
  }
  62.5% {
    top: 3%;
    left: 0;
    background-size: 30% 70%;
  }
  75% {
    top: 3%;
    left: -3%;
    background-size: 50% 100%;
  }
  87.5% {
    top: 0;
    left: -3%;
    background-size: 30% 70%;
  }
  100% {
    top: -3%;
    left: -3%;
    background-position: 0% 50%;
    background-size: 150% 150%;
  }
}

@keyframes text {
  0% {
    color: #7400f9;
  }
  50% {
    color: #00fcbd;
  }
  100% {
    color: #7400f9;
  }
}

.window-preview{
  position: absolute;
  bottom: 60px;
  width: 200px;
  height: 150px;
  border-radius: 6px;
  background-color: rgba(0, 0, 0, 0.521);
  backdrop-filter: blur(20px);
  justify-self: center;
  padding: 8px;
  color:#d7d7d7;
  display: flex;
  flex-direction: column;
}

.window-preview img, .window-preview svg{
  max-width: 16px;
  aspect-ratio: 1/1;
  object-fit: contain;
  display: block;
}

.preview-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-bottom: 4px;
}

.preview-title > *:first-child{
  margin-right: 6px;
}

.preview-image{
  flex: 1;
  background-color: rgba(0, 0, 0, 0.452);
  border-radius: 6px;
}

.preview-image img{
  min-width: 100%;
  max-height: 122px;
  object-fit: fill;
}