.desktop{
    height: 100%;
    width: 100%;
    position: relative;
    overflow: hidden;

    background-image: url('/wallpapers/default-wallpaper.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.resizing-global * {
    cursor: inherit !important;
    pointer-events: none !important;
    user-select: none !important;
}

.window-spawn-enter-from {
  opacity: 0;
  transform: scale(0.9) translateY(30px);
}

.window-spawn-enter-active {
  transition: transform 0.3s cubic-bezier(0.34, 1.56, 0.64, 1), opacity 0.3s ease;
}

.window-spawn-enter-to {
  opacity: 1;
  transform: scale(1) translateY(0);
}

.window-spawn-leave-active {
  transition: all 0.2s ease-in;
}

.window-spawn-leave-to {
  opacity: 0;
  transform: scale(0.95);
}

.window-minimize-enter-from,
.window-minimize-leave-to {
  opacity: 0;
  transform: translateY(100%) scale(0.2);
}

.window-minimize-enter-active,
.window-minimize-leave-active {
  transition: transform 0.4s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.3s ease;
  transform-origin: bottom center; 
  pointer-events: none;
}